.divScroll {
    overflow-y:scroll;
    height: 400px;
}

.pluginItem {
    horiz-align: left;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.installBtn {
    float: right;
    background-color: green;
    color: white;
    width: 100px;
}

.updateBtn {
    float: right;
    background-color: blue;
    color: white;
    width: 100px;

}
.removeBtn {
    float: right;
    background-color: red;
    color: white;
    width: 100px;
}
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 12px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class ul.tab li a:focus, .active {background-color: #ccc;}*/

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}