<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 id="s_title_{{ count }}">Camera System</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div style=";overflow: hidden">
      <br>
      {% for k, v in blockArray[count]["camera"].iteritems() %}
        {% if v[1] %}
          <script> $('#s_title_{{ count }}').html("{{ v[1] }}");</script>
        {% endif %}
      <form class="form-horizontal form-label-left" style="width: 80%; height: 80%; ">
        <div class="form-group" style="">
	       <img id="cam_{{ count }}" style="-webkit-user-select: none; width: 100%; height: 100%; " src="{{v[0]|replace('&amp;', '&')}}" >
        </div>
      </form>
      {% endfor %}
    </div>
  </div>
</div>
