<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Plugin example</h2>
      <ul class="nav navbar-right panel_toolbox">
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div id="updateValue" style="display: inline-block;">
    </div>

  </div>
</div>

<script>
$(document).ready(function() {
  function reloadValue() {
    url = "/api?custom=hello";
    requestAPI(url, function(d) {
      var div = $("#updateValue").html(d)
    });
  }
  reloadValue();
  setInterval(reloadValue, 60000);
});
</script>
