<body class="nav-md">

  <div class="container body">

    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="/dashboard" class="site_title"><i class="fa fa-home"></i> <span>Domoboard</span></a>
          </div>
          <div class="clearfix"></div>

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <ul class="nav side-menu">
                {% for k, v in configValues["navbar"].iteritems() %}
                  {% if v is not string %}
                  <li><a href="{{v[0]}}"> <i class="fa fa-{{v[1]}} fa-fw" aria-hidden="true"></i> {{k}}</a></li>
                  {% else %}
                  <li><a href="{{v}}">{{k}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>

            </div>

          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a href="/" data-toggle="tooltip" data-placement="top" title="Dashboard">
              <span class="glyphicon glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            </a>
            <a href="/settings" data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a href="/log" data-toggle="tooltip" data-placement="top" title="Log">
              <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
            </a>
            <a href="/logout" data-toggle="tooltip" data-placement="top" title="Logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
              <div id="datetimeDiv">
                <div class="nav toggle navbar-collapse" id="defaultNavbar1">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <div class="show_date" style="cursor: pointer; float: right; margin-left: -70px; min-height: 51px;" id="time-part"></div>
                <div class="hide_date" style="cursor: pointer; padding-left: 2px;" id="date-part"></div>
                <div id="version_div" class="hide_update">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#upgradeModal">
                    Update available
                  </button>
                </div>
              </div>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->

      <!-- Upgrade Modal -->
      <div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" aria-labelledby="upgradeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="upgradeModalLabel">Update available</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <h2>A new update is available for Domoboard.</h2><br />
              The current version is <b><span id="curver"></span></b>.<br />
              The new version available is: <b><span id="newver"></span></b>.<br />
              <br />
              {% if debug == True %}
              <p><b>Install the new version by pressing the "Upgrade" button below.</b></p>
              {% endif %}
              {% if debug == False %}
              <p><b>Upgrading through Domoboard is only possible when running in debug mode (pass "-d" parameter to server.py). Manual upgrade is possible by performing a "git pull" command.</b></p>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              {% if debug == True %}
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:performUpgrade()">Upgrade</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <!-- page content -->
      <div class="right_col" role="main">
