<script type="text/javascript" src="static/js/FeedEk.js"></script>
<link href="static/css/FeedEk.css" rel="stylesheet" type="text/css" />
<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 id="s_title_{{count}}">News</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div id="divRss-{{count}}"></div>
    <script>
    $(document).ready(function() {
      {% for k, v in blockArray[count]["news"].iteritems() %}
      {% if v[0] %}
          $('#s_title_{{ count }}').html("{{ v[0] }}");
      {% endif %}
      {% endfor %}
    });
    $('#divRss-{{count}}').FeedEk({
      FeedUrl:"{{blockArray[count]['news'].get('rssfeed')[1]}}",
      MaxCount : 5,
      ShowDesc : true,
      ShowPubDate:true,
      DescCharacterLimit:100,
      TitleLinkTarget:'_self',
      DateFormat: 'MM/DD/YYYY',
      DateFormatLang:'en'
    });
    </script>
  </div>
</div>
